@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fffffe;
  --stroke: #e5e5e5;
  --paragraph: #2d334a;
  --buttonText: #fffffe;
  --primary: #c92929;
  --secondary: #ffdc74;
  --tertiary: #fca311;
  --highlight: #c92929;
  --desktop: gray;
  --text: black;
  --shadow: #6f2626;
}

html.dark {
  --background: #0f0e17;
  --stroke: black;
  --paragraph: #a7a9be;
  --buttonText: #fffffe;
  --primary: #ffba08;
  --secondary: #f25f4c;
  --tertiary: #e53170;
  --highlight: #ff8906;
  --desktop: #8d99ae;
  --text: white;
  --shadow: #6a5623;
}

body {
  color: rgb(var(--foreground-rgb));
  background: var(--background);
}

#__next {
  width: 100%;
  display: flex;
  justify-content: center;
}

.underlined {
  position: relative;
  text-decoration: none !important;
  white-space: nowrap;
}

.underlined:focus {
  outline: none;
  text-decoration: none !important;
}

.underlined:after {
  content: "";
  height: 2px;
  transform: scaleX(0);
  transition: transform 0.25s ease;
  transform-origin: left;
  left: 0;
  bottom: -4px;
  width: 100%;
  display: block;
  position: absolute;
}

.underlined:hover:after,
.underlined:focus:after,
.active.underlined:after {
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
  transform: scaleX(1);
}

@media (prefers-reduced-motion) {
  .underlined:after {
    opacity: 0;
    transition: opacity 0.25s ease;
  }

  .underlined:hover:after,
  .underlined:focus:after,
  .active.underlined:after {
    opacity: 1;
  }
}

.fill-text-transparent {
  -webkit-text-fill-color: transparent;
}

:not(html, body)::-webkit-scrollbar {
  width: 0.2em;
}

:not(html, body)::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px var(--secondary);
}

:not(html, body)::-webkit-scrollbar-thumb {
  background-color: var(--primary);
  outline: 1px solid slategrey;
}

/* .box-texture {
  --mask:
    radial-gradient(38.99px at 50% calc(100% + 18px),#0000 calc(99% - 8px),#000 calc(101% - 8px) 99%,#0000 101%) calc(50% - 60px) calc(50% - 19px + .5px)/120px 38px ,
    radial-gradient(38.99px at 50% -18px,#0000 calc(99% - 8px),#000 calc(101% - 8px) 99%,#0000 101%) 50% calc(50% + 19px)/120px 38px ;
  -webkit-mask: var(--mask);
          mask: var(--mask);
} */

/* .box-texture {
  aspect-ratio: 1;
  clip-path: shape(from 84.08% 43.14%,curve to 87.68% 64.55% with 89.11% 52.46%,curve to 76.57% 85.39% with 86.24% 76.65%,curve to 54.85% 89.32% with 66.89% 94.14%,curve to 32.36% 81.54% with 42.80% 84.50%,curve to 14.16% 69.22% with 21.91% 78.57%,curve to 5.11% 46.55% with 6.41% 59.88%,curve to 16.29% 27.68% with 3.81% 33.22%,curve to 37.41% 11.43% with 28.77% 22.14%,curve to 58.05% 6.62% with 46.05% 0.72%,curve to 74.55% 23.17% with 70.04% 12.53%,curve to 84.08% 43.14% with 79.06% 33.81%);
} */

.box-texture {
  --s: 140px; /* control the size*/
  --_g: #0000 52%,var(--background) 54% 57%,#0000 59%; 
  background: 
   radial-gradient(farthest-side at -33.33% 50%,var(--_g)) 0 calc(var(--s)/2),
   radial-gradient(farthest-side at 50% 133.33%,var(--_g)) calc(var(--s)/2) 0,
   radial-gradient(farthest-side at 133.33% 50%,var(--_g)),
   radial-gradient(farthest-side at 50% -33.33%,var(--_g)),
   var(--primary);
  background-size: calc(var(--s)/4.667) var(--s),var(--s) calc(var(--s)/4.667);
}